*{ padding : 0;
    margin : 0;
}

@import "footer.scss";

body {
    background : white;
    color : black;
}


.header

  {height:10vh;

   width:1000px;     

  background-color:white;

  margin:0;display:flex;

  justify-content:space-between;

  align-items:center}

.logo 
  {margin-left:30px;

  font-size:40px;

  font-family:"Helvetica, sans-serif);     ";

  color:#000000;}

.info
  { margin-left:30px;

  font-size:20px;

  font-family:"Helvetica, sans-serif",

  cursive;color:black ;}


.navcontainer ul
{

  padding: 0;

  list-style-type: none;

  text-align: center;

  width: 1200px;
}


.navcontainer ul li { 

  display: inline;

  margin-left: 160px;

  margin-top: 140px;

  width: 1200px;


 }

.navcontainer ul li a

{
  text-decoration: none;

  padding: .2em 1em;

   color: #fff;

  background-color: #036;

  width: 1200px;
}

 .navcontainer ul li a:hover
{
  color: #fff;

  background-color: #369;
}


.title {

height: 10px;

width: 100px;

margin-top: 15px;

margin-left: 100px;
	
}

.card__title{font-weight:bold;

  margin-bottom:5px}

.card__img{width:210px;

  height:180px;

  margin-bottom:10px;

  overflow:hidden}

.img{width:100%;height:100%}


img:hover{transform:scale(1.3)}

.btn,.last{position:absolute;

  justify-content:center;

  bottom:10px;

  width:90%;

  height:40px;

  border:none;

  background-color:#eb8602;

  font-weight:bold}

.btn:hover{background-color:#027497;

  transition:all 0.9s ease-in-out}


.container{display:flex;

  justify-content:center;

  align-items:center;

  padding:40px 20px}

.card{max-width:250px;

  min-height:400px;

  background-color:cornflowerblue;

  border:1px solid #2196f3;

  border-radius:10px;

  margin:20px;

  padding:10px;

  display:flex;

  position:relative}


.flex__example1 {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container1 {   
    width: 60%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}

.card1 {
    background-color: white;
    border: 5px solid black;
    align-items: baseline;
    max-width: 400px;
    min-height: 300px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 180px;
}

.img {  
    max-width: 400px;
    min-height: 300px;}



    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.carda {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-basis: 180px;
    overflow: hidden;
}

.cardb {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-basis: 180px;
    overflow: hidden;
}
.cardc{
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 180px;
    overflow: hidden;
}













  
