 display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 5px; 

}

.card {
    min-width: 500px;
    min-height: 200px;
    background-color: white;
    
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}

.card-title {
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}



.card-info {
    max-width: 500px;
    
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

   
.column-left {
    transform:
        translateX(200px);
}
.column-middle {
    transform:
        translateX(200px);
}

.flex__example1
{
 height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start-flex;
    flex-wrap: wrap;
    
}

.containerone {   

    
    width: 100%;
    min-height: 60%;
    padding: 25px 0;
    display: flex;
   justify-content: start;
    align-items: start-flex;
    flex-wrap: wrap;
    background-color: white;

}
.cardone {
    background-color: white;
    border: 5px solid black;
    align-items: baseline;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    display: flex;
    overflow: hidden;
    flex-basis: 180px;
}

 

.containera {
    
    
    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.carda {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-basis: 180px;
    overflow: hidden;
}

.cardb {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-basis: 180px;
    overflow: hidden;
}
.cardc{
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 180px;
    overflow: hidden;
}
